@page
@using EWebsite.Areas.Identity.Pages.Account.Manage
@model ShippingAddressModel
@{
    ViewData["Title"] = "Shipping Address";
    ViewData["ActivePage"] = ManageNavPages.ShippingAddress;
}

<h3>Shipping Address</h3>
<hr />

<div class="row">
    <div class="col-md-6">

        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-floating mb-3">
                <input asp-for="Input.Name" class="form-control" />
                <label asp-for="Input.Name"></label>
                <span asp-validation-for="Input.Name" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.Phone" class="form-control" />
                <label asp-for="Input.Phone"></label>
                <span asp-validation-for="Input.Phone" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.StreetAddress" class="form-control" />
                <label asp-for="Input.StreetAddress"></label>
                <span asp-validation-for="Input.StreetAddress" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.City" class="form-control" />
                <label asp-for="Input.City"></label>
                <span asp-validation-for="Input.City" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.State" class="form-control" />
                <label asp-for="Input.State"></label>
                <span asp-validation-for="Input.State" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.PostalCode" class="form-control" />
                <label asp-for="Input.PostalCode"></label>
                <span asp-validation-for="Input.PostalCode" class="text-danger"></span>
            </div>

            <button type="submit" class="w-100 btn btn-primary">Save</button>

        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}